#hero {
  width: 50px;
  height: 80px;
  position: absolute;
  background-image: url("bilder/egon.png");
  background-size: cover;
  z-index: 1;
}
#background {
  background: url("bilder/bg.png") no-repeat center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
#laser {
  background: #00ff00;
  width: 2px;
  height: 50px;
  position: absolute;
}
.enemy {
  background: #0000ff;
  width: 80px;
  height: 80px;
  position: absolute;
}
#score {
  color: #ffffff;
  font-size: 18pt;
  position: absolute;
  text-align: center;
  width: 99%;
  color: #000;
}
#gameover {
  color: #ff0000;
  font-size: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  text-align: center;
  visibility: hidden;
}
#gameover span {
  color: #ffffff;
}